p
  | Hey,
p
  | The user
  strong
    = ' '+ name
  |  - from the organization
  strong
    = ' '+ orgname
  | , with the email
  strong
    = ' '+ email
  |  and mobile
  strong
    = ' '+ cell
  |  - wants to use GAF Bucks to pay the subscription.

p The Project Map It team
p
  a(href=baseUrl)= baseUrl
