| Hey,
| ' '
| The user
= ' '+ name
|  - from the organization
= ' '+ orgname
| , with the email
= ' '+ email
| , mobile
= ' '+ cell
|  - wants to use GAF Bucks to pay the subscription.
| ' '
| The Project Map It team
= url
