p From all of us at #{org.name}, we wanted to thank you for the positive feedback you left us on Project Map It. We are so glad you had a good experience with our company, and we hope to serve you again in the future!

p Positive reviews are extremely helpful to our business. If you have a minute to spare, would you mind posting additional reviews to any of the sites linked below? Again, doing so is tremendously helpful to our company:

ul
  if org.social_home_advisor
    li
      a(href="#{org.social_home_advisor}") Home Advisor
  if org.social_angies_list
    li
      a(href="#{org.social_angies_list}") Angies List
  if org.social_facebook
    li
      a(href="#{org.social_facebook}") Facebook
  if org.social_bbb
    li
      a(href="#{org.social_bbb}") Better Business Bureau
  if org.social_google
    li
      a(href="#{org.social_google}") Google
  if org.social_houzz
    li
      a(href="#{org.social_houzz}") Houzz
  if org.social_yelp
    li
      a(href="#{org.social_yelp}") Yelp

p Thank you again!

p Sincerely,

p Your friends at #{org.name}
