.auth-screen
  background-image url(/static/images/logo-lrg.png)
  background-repeat no-repeat
  background-position 100% 50%
  background-size auto 90%
  +below(3)
    background-position 110% 100%
    background-size auto 50%

  +below(2)
    background-image none

  h1
    {PROXIMA_BOLD}
    font-size 3rem
    margin-bottom 3rem


  .auth-controls
    position absolute
    left 30%
    top 50%
    transform translateX(-50%) translateY(-50%)
    width 30%
    min-width 240px

    &.wider
      width 45%

    +below(2)
      width 90%
      &.wider
        width 90%

    +below(3)
      padding 30px 0
      position static
      transform none
      width 90%
      margin auto


  &.register .auth-controls
    position static
    transform none
    padding 40px

  .row
    clearfix()
    .half
      column(1/2)
      +below(3)
        stack()

  .cta-links
    font-size 1.6rem
    {PROXIMA_REGULAR}
    +below(3)
      a
        display block
        margin-bottom 15px
      span
        display none
