global-reset()
reset-html5()

COLLAPSE_BREAKPOINT = 3
EXPANDED_SIDEBAR_WIDTH = 200px
COLLAPSED_SIDEBAR_WIDTH = 45px

html
  font-size 62.5%
  line-height 1.5
  {PROXIMA_LIGHT}
  background $white

body, html
  height 100%

body
  font-size 1.4rem

a
  color $tarracotta-roof
  text-decoration none
  transition color 0.5s
  &:hover, &.active
    text-decoration underline
    color $black

b, strong
  {PROXIMA_BOLD}

small
  {TEXT_SMALL}
  line-height 1.5

p
  line-height 1.5

hr
  border none
  background $grey
  height 1px
  margin 20px 0
  padding 0

button
  cursor pointer
  background transparent
  outline 0
  border none
  padding 0
  margin 0
  color white
  i
    color $tarracotta-roof
    transition color 0.5s
  &:hover
    i
      color $black

.text-center
  text-align center

.color-warning
  color #BABA00

.selectable
  cursor pointer

.growler-message
  position fixed
  bottom 20px
  right 20px
  width 200px
  z-index 10000
  color white
  font-size 1.3rem
  line-height 1.5rem
  {PROXIMA_REGULAR}
  .info
    background $fern-green
  .error
    background alpha(darken($tarracotta-roof, 10%), 80%)
  .growler-close
    position absolute
    top 8px
    right 8px
    font-size 1.4rem
    i
      color white


.info
  background $fern-green
  padding 15px
  margin 0 0 20px
  p, ul
    margin 0
    padding 0
    color $white
    margin 1rem

  &.discount
    background url(/static/images/fireworks.png)
    background-size cover
    font-size 18px
    text-align center
    i
      font-size 40px
      color #f1f442

.error
  background alpha($tarracotta-roof, 1)
  padding 15px
  margin 0 0 20px
  p, ul
    margin 0
    padding 0
    color $white
    margin 1rem
  li
    padding 0 0 5px
    &:last-child
      padding 0

#app, .app-wrapper
  height 100%

.btn
  transition background 0.5s
  background $tarracotta-roof
  color white
  border none
  padding 8px 18px
  display inline-block
  {PROXIMA_LIGHT}
  border-radius 3px
  font-size 1.4rem
  line-height 1.5rem
  cursor pointer
  outline 0
  &:hover
    background darken(@background, 20%)
    text-decoration none
    color white
  &[disabled]
    cursor no-drop
    opacity 0.5
  input
    display none

.slick-slider
  margin-bottom 0

//------------------------------------------------------------------------------
// Loader

@keyframes load8
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)

.loader
  margin 60px auto
  font-size 10px
  position relative
  text-indent -9999em
  border-top 3px solid rgba(134,134,134, 0.2)
  border-right 3px solid rgba(134,134,134, 0.2)
  border-bottom 3px solid rgba(134,134,134, 0.2)
  border-left 3px solid #868686
  transform translateZ(0)
  animation load8 1.1s infinite linear

  &.center
    position absolute
    top 50%
    left 50%
    margin 0
    transform translateY(-50%) translateX(-50%)

  &.geolocating
    position absolute
    width 30px
    height 30px
    margin 0
    right -10px
    top 20px


.loader,
.loader:after
  border-radius 50%
  width 50px
  height 50px

.chat-area
  position fixed
  width 100px
  height 100px
  bottom 0
  right 0

//------------------------------------------------------------------------------
// Modal
.modal-outer
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  width 100%
  height 100%
  background-color rgba(0,0,0,0.4)
  z-index 1000
  overflow auto

  &.payment-modal
    .modal-inner
      width 350px

    .upgrade-form
      > h2
        margin-bottom 15px
      > p
        margin-bottom 15px

  &.send-survey-email-modal
    .question-wrap
      clearfix()
      margin-bottom 10px
      .pub
        float left
        width 40px
      .question
        margin-left 60px


  .modal-inner
    width 600px
    height auto
    background $white
    border-radius 2px
    padding 20px
    box-sizing border-box
    // margin 30px auto
    // position relative

    // Test
    position absolute
    margin auto auto 20px
    top 10%
    left 50%
    transform translateY(0%) translateX(-50%)

    +below(3)
      width 100%

    .close
      position absolute
      top 4px
      right 5px
      font-size 2rem
      background transparent
      cursor pointer
      outline 0
      border none
      z-index 999
      i
        color $grey
      &:hover
        i
          color $dark-grey

.project-modal
  background alpha(black, 80%)

  &.has-no-photos
    .modal-inner
      min-height 500px
      background-image url(/static/images/logo-lrg.png)
      background-repeat no-repeat
      background-position center right
      background-size auto 90%

  .modal-inner
    background black
    padding 0
    color white
    width 80%

  .slide.img
    background-position center center
    background-size contain
    background-repeat no-repeat
    background-color black
    &.landscape
      background-size cover

  .no-images
    text-align center
    color $white
    box-sizing border-box
    position relative
    top 50%

  .detail-bar
    position absolute
    left 0
    right 0
    bottom 0
    padding 20px
    background rgba(0, 0, 0, 0.6)
    color $white
    .message
      column(1/2)
      text-align left
      {PROXIMA_BOLD}
    .address
      column(1/2)
      text-align right

  .review-button
    position absolute
    z-index 100
    bottom 10px
    left 12px
    font-size 3rem
    i
      color white

  .close-review
    position absolute
    right 20px
    top 10px
    i
      color white
      font-size 3rem

  .details
    display none
    &.review-on
      display block
    position absolute
    bottom 0
    top 0
    left 0
    right 0
    width 100%
    overflow auto
    padding 20px
    background rgba(0, 0, 0, 0.8)
    box-sizing border-box
    h4, h3, h5
      color $white
    h4
      margin-bottom 15px
      border-bottom #222 1px solid
      padding-bottom 6px

  .review
    padding 30px
    box-sizing border-box
    +below(2)
      padding-bottom 80px
    *
      color white
    .fa-star
      color yellow
      margin-right 1px
    .col
      column(1/2)
      .question
        margin-bottom 20px
      +below(2)
        stack()

  .categories
    position absolute
    bottom -70px
    height 60px
    span
      font-size 1.2rem
      border-radius 8px
      display inline-block
      padding 6px 12px
      color $light-grey
      background $black
    li
      display inline-block
      margin-right 7px
      margin-bottom 7px

//------------------------------------------------------------------------------
// Pagination
.pagination
  clear both
  text-align center
  padding 20px 0
  margin auto
  box-sizing border-box
  li
    display inline-block
    margin 0 2px
    a
      cursor pointer
      padding 4px 7px 3px
      display block
      box-sizing border-box
      border 3px solid alpha($akaroa, 50%)
      text-decoration none
      font-size 1.3rem
      line-height 1.3rem
      {PROXIMA_REGULAR}
    &.previous,
    &.next
      background alpha($akaroa, 50%)
      a
        border none
      i
        color $dark-grey
    &.disabled
      opacity 0.3
    &.selected
      a
        border 3px solid darken($akaroa, 25%)

//------------------------------------------------------------------------------
// Tooltip
.rc-tooltip
  position absolute
  z-index 1070
  display block
  visibility visible
  font-size 1.2rem
  opacity 0.9

.rc-tooltip-hidden
  display none

.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight
  padding 5px 0 9px 0

.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom
  padding 0 5px 0 9px

.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight
  padding 9px 0 5px 0

.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom
  padding 0 9px 0 5px

.rc-tooltip-inner
  padding 8px 10px
  color #fff
  text-align left
  text-decoration none
  background-color #373737
  border-radius 6px
  box-shadow 0 0 4px rgba(0, 0, 0, 0.17)
  min-height 10px

.rc-tooltip-arrow
  position absolute
  width 0
  height 0
  border-color transparent
  border-style solid

.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow
  bottom 4px
  margin-left -5px
  border-width 5px 5px 0
  border-top-color #373737

.rc-tooltip-placement-top
  .rc-tooltip-arrow
    left 50%

.rc-tooltip-placement-topLeft
  .rc-tooltip-arrow
    left 15%

.rc-tooltip-placement-topRight
  .rc-tooltip-arrow
    right 15%

.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow
  left 4px
  margin-top -5px
  border-width 5px 5px 5px 0
  border-right-color #373737

.rc-tooltip-placement-right
  .rc-tooltip-arrow
    top 50%

.rc-tooltip-placement-rightTop
  .rc-tooltip-arrow
    top 15%
    margin-top 0

.rc-tooltip-placement-rightBottom
  .rc-tooltip-arrow
    bottom 15%

.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow
  right 4px
  margin-top -5px
  border-width 5px 0 5px 5px
  border-left-color #373737

.rc-tooltip-placement-left
  .rc-tooltip-arrow
    top 50%

.rc-tooltip-placement-leftTop
  .rc-tooltip-arrow
    top 15%
    margin-top 0

.rc-tooltip-placement-leftBottom
  .rc-tooltip-arrow
    bottom 15%

.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow
  top 4px
  margin-left -5px
  border-width 0 5px 5px
  border-bottom-color #373737

.rc-tooltip-placement-bottom
  .rc-tooltip-arrow
    left 50%

.rc-tooltip-placement-bottomLeft
  .rc-tooltip-arrow
    left 15%

.rc-tooltip-placement-bottomRight
  .rc-tooltip-arrow
    right 15%

.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave
  display block

.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear
  opacity 0
  animation-duration 0.2s
  animation-fill-mode both
  animation-timing-function cubic-bezier(0.18, 0.89, 0.32, 1.28)
  animation-play-state paused

.rc-tooltip-zoom-leave
  animation-duration 0.2s
  animation-fill-mode both
  animation-timing-function cubic-bezier(0.6, -0.3, 0.74, 0.05)
  animation-play-state paused
  &.rc-tooltip-zoom-leave-active
    animation-name rcToolTipZoomOut
    animation-play-state running

.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active
  animation-name rcToolTipZoomIn
  animation-play-state running

@keyframes rcToolTipZoomIn
  0%
    opacity 0
    transform-origin 50% 50%
    transform scale(0, 0)
  100%
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);

@keyframes rcToolTipZoomOut
  0%
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  100%
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);

//------------------------------------------------------------------------------
// Select
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

/////////////////////////////////////////////////////////////////////////////
// GeoSuggest
/////////////////////////////////////////////////////////////////////////////
.geosuggest {
  position: relative;
  height 71px
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid $tarracotta-roof;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest-item {
  padding: .5em .65em;
  cursor: pointer;
  line-height 1.6rem
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background $akaroa
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}
