.app-bd
  clearfix()
  padding 40px
  position relative
  min-height 100%
  box-sizing border-box

  margin-left EXPANDED_SIDEBAR_WIDTH

  transition margin-left 1s

  +below(COLLAPSE_BREAKPOINT)
    margin-left COLLAPSED_SIDEBAR_WIDTH
    padding 15px

  +tablet()
    margin-left COLLAPSED_SIDEBAR_WIDTH
    padding 15px

  \.no-sidebar &
    margin-left 0 !important

  h1
    font-size 3.5rem
    {PROXIMA_BLACK}
    margin-bottom 30px
    span
      display inline-block
      margin-right 25px
    .btn
      position relative
      top -6px

  h2
    font-size 3rem
    {PROXIMA_BLACK}
    margin-bottom 30px

  h3
    font-size 2.3rem
    {PROXIMA_BOLD}
    margin-bottom 25px
    color $dark-grey

  h4
    font-size 1.8rem
    {PROXIMA_BOLD}
    margin-bottom 6px
    color $dark-grey

  h5
    font-size 1.4rem
    {PROXIMA_BOLD}
    margin-bottom 6px
    color $dark-grey

  h6
    {PROXIMA_REGULAR}
    font-size 1.4rem
    margin-bottom 6px
    color $dark-grey

  .col-contain
    clearfix()
    .half
      column(1/2)
      +below(3)
        stack()

  .component-space
    height 50px

  .underline
    text-decoration underline

  .trial-alert-bar
    background $blue
    color white
    position absolute
    z-index 1
    top 0
    left 0
    right 0
    padding 5px 10px
    text-align center
    cursor pointer
    span
      font-size 12px
      {PROXIMA_BOLD}

  .remove-all-projects,.send-all-surveys
    color #777
    font-size 1.1rem
    float right
    color $tarracotta-roof
    margin-left: 10px
    &:hover
      text-decoration underline

  .upgrade-overlay
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1000
    background alpha(#000, 78%)
    ol
      margin 20px auto 0
      {PROXIMA_REGULAR}
      text-align left
      width 90%
      li
        padding-bottom 3px
        p
          box-sizing border-box
          padding-top 3px
          padding-bottom 6px
          padding-left 6px
          border-left lighten($tarracotta-roof, 10%) 10px solid
          border-bottom lighten($tarracotta-roof, 10%) 1px solid
    .btn
      position absolute
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%)
      text-align center
      display block
      padding 20px
      box-sizing border-box
      +below(3)
        width 90%
      b
        display block
        font-size 1.9rem
        margin-bottom 8px

  .static-map-wrapper
    margin-bottom 50px
    position relative
    img.out
      height auto
      width 100%

    img.in
      transition opacity 1s
      opacity 0
      position absolute
      top 0
      left 0
      right 0
      width 100%
      height auto

    &:hover
      img.in
        opacity 1

  .gmap-canvas
    position absolute
    top 0
    right 23%
    bottom 0
    left 0

    +below(1000px)
      right 0%

    onHover(c, s)
      &:hover
        background c
        border-color c
        opacity 1
        width s
        height s

    .cluster-point
      opacity 0.9
      cursor pointer
      border-radius(50%)
      text-align center
      transition background 0.5s, opacity 0.5s, width 0.2s, height 0.2s
      transform translateX(-50%) translateY(-50%)
      $size = 29px
      &.size_small
        background #23A65A
        border 5px solid lighten(@background, 20%)
        width $size
        height $size
        onHover(lighten(@background, 20%), 45px)
      &.size_medium
        background #015926
        border 5px solid lighten(@background, 20%)
        width $size
        height $size
        onHover(lighten(@background, 20%), 45px)
      &.size_large
        background #F2574B
        border 5px solid lighten(@background, 20%)
        width $size
        height $size
        onHover(lighten(@background, 20%), 45px)
      &.size_huge
        background #590F0A
        border 5px solid lighten(@background, 20%)
        width $size
        height $size
        onHover(lighten(@background, 20%), 45px)

      span
        position absolute
        top 50%
        left 50%
        display inline-block
        transform translateY(-50%) translateX(-50%)
        color white
        font-size 1.2rem
        line-height 1.2rem
        height 13px
        margin 1px 0 0 0
        {PROXIMA_REGULAR}

  .sub-nav
    .menu
      padding 0 0 15px
      margin 0 0 20px
      border-bottom $light-grey solid 3px
      li
        display inline-block
        padding-right 15px
        +below(2)
          display block
          padding-bottom 10px

      .disabled-lnk
        opacity 0.45
      a, span
        color $fern-green
        text-decoration none
        {PROXIMA_REGULAR}
        &.active
          color $tarracotta-roof
          text-decoration underline


  .subscriptions
    border 1px solid $grey
    .subscription
      clearfix()
      border-bottom solid 1px $grey
      > div
        box-sizing border-box

      .icon
        column(2/8)
        +below(4)
          stack()
        padding 0 18px
        .inner
          height 100px
          background-size contain
          background-repeat no-repeat
          background-position center center
        &.basic .inner
          background-image url(/static/images/icon-plan-basic.png)
        &.pro .inner
          background-image url(/static/images/icon-plan-pro.png)
        &.enterprise .inner
          background-image url(/static/images/icon-plan-enterprise.png)

      .description
        column(4/8)
        padding 15px 0

        +below(4)
          stack()
          text-align center
          padding 6px

        .details
          color lighten($dark-grey, 30%)
          margin-top 5px

      .action
        column(2/8)
        padding 25px 0 0
        text-align center
        .btn.active
          background #015926
          &:hover
            background darken(@background, 10%)
        +below(4)
          stack()
          padding 10px

    .unsubscribe
      color $white
      button
        background alpha($tarracotta-roof, 50%)
        display block
        padding 9px
        cursor pointer
        text-align center
        font-size 1.2rem
        width 100%
        &:hover
          background $tarracotta-roof

  .questionnaire-mgmt-form
    .public-label
      column(11/12)
      text-align right
      padding 10px 0

    .questions
      margin 20px 0
      .question
        clearfix()
        padding 0 0 10px
        .control
          margin-bottom 0
        .kind
          column(2/12)
          box-sizing border-box
        .text
          column(8/12)
        .pub
          column(1/12)
          text-align right
          box-sizing border-box
          padding 6px 0 0
        .controls
          column(1/12)
          text-align right
          button
            background transparent
            border none
            outline 0
            color $tarracotta-roof
            cursor pointer
            line-height 4rem
            &:hover
              color darken($tarracotta-roof, 50%)
            i
              font-size 3rem
              display inline-block
    .add-question
      float right
      button
        background transparent
        border none
        outline 0
        color $fern-green
        cursor pointer
        line-height 4rem
        &:hover
          color darken($fern-green, 50%)
        i
          font-size 3rem
          display inline-block
          margin-left 10px
        span
          display inline-block
          position relative
          top -7px
          font-size 1.4rem

  .enter-promo-form
    clearfix()
    padding 20px
    background #f1f1f1
    margin-bottom 20px
    p
      margin-bottom 7px
      {PROXIMA_REGULAR}
    input
      column(4/5)
      box-sizing border-box
      padding 4px
      font-size 18px
      border 1px solid #ccc
      {PROXIMA_LIGHT}
    button
      column(1/5)
      background $black-marlin
      text-align center
      padding 4px
      display inline-block
      font-size 18px
      text-transform uppercase
      {PROXIMA_LIGHT}
      &:hover
        background $tarracotta-roof

  .no-contract
    text-align center
    margin-top 30px
    h5
      font-size 26px
    p
      margin-bottom 20px

  /////////////////////////////////////////////////////////////////////////////
  // Map
  /////////////////////////////////////////////////////////////////////////////
  .embed-code
    margin 20px 0
    textarea
      box-sizing border-box
      padding 20px
      {PROXIMA_LIGHT}
      text-align center
      width 100%
      height 60px
      border none
      font-size 1.4rem
      background #f1f1f1

  .map-filter-wrap
    .share-link
      position absolute
      right 10px
      top 10px
      font-size 1.3rem
      cursor pointer
      +below(3)
        display none

    .misc-filters
      position absolute
      left 0
      top 0
      right 0
      z-index 10
      background white
      padding 9px
      text-align center
      font-size 1.2rem
      box-shadow 3px 1px 3px alpha(black, 30%)
      span
        display inline-block
        margin 0 5px
      +below(3)
        top auto
        bottom 0
      .total
        display block
        margin-bottom 10px
        font-size 1.8rem
        line-height 2rem
        b
          {PROXIMA_BOLD}
          color $fern-green

    .map-filter
      clearfix()
      position absolute
      box-shadow 0px 0px 3px alpha(black, 20%)
      background $white
      z-index 20
      border-bottom 2px solid $tarracotta-roof
      opacity 0.9
      transition opacity 1s, box-shadow 1s
      width 400px
      left 50%
      top 100px
      transform translateX(-50%)
      &:hover
        opacity 1
        box-shadow 0px 0px 3px alpha(black, 40%)

      +below(3)
        width 95%
        top 10px

      .top
        clearfix()
        .search-area
          column(4/5)
          height 70px
          box-sizing border-box
          position relative

          input
            position absolute
            left 22px
            right 10px
            bottom 0
            top 0
            font-size 2rem
            outline 0
            border none
            width 80%
            background transparent
            {PROXIMA_LIGHT}
            height 70px

          .location-me
            font-size 3rem
            position absolute
            right 0
            top 50%
            transform translateY(-50%)
            opacity 0.3
            transition opacity 0.5s
            &:hover
              opacity 0.5

        .filter-btn-area
          column(1/5)
          height 70px
          box-sizing border-box
          position relative

          button
            font-size 5rem
            position absolute
            left 50%
            top 50%
            transform translateY(-50%) translateX(-50%)
            transition opacity 0.5s
            opacity 1

      .filters-area
        display none

      &.filters-on
        .top .filter-btn-area button
          opacity 0.3

        .filters-area
          clearfix()
          display block
          background #f6f6f6
          border-top 2px solid #eee
          box-sizing border-box
          max-height 500px
          overflow auto
          +below(3)
            height 250px
          +tablet()
            height 250px

          .col
            column(1/2, cycle: 2)
            +below(3)
              stack()

          .top-level-category-list
            box-sizing border-box
            padding 10px

            span
              clearfix()
              display block

            ul
              margin 0 0 3px
              li
                margin 0 0 3px

            input
              width 18px
              margin 0
              float left
              +below(3)
                float none

            label
              font-size 1.3rem
              width auto
              float right
              width 149px
              +below(3)
                float none
                margin-left 4px

            h5
              {PROXIMA_BOLD}
              line-height 1.2
              label
                text-transform uppercase

    .list-view
      position absolute
      top 74px
      right 0
      bottom 0
      width 23%
      z-index 5
      overflow scroll
      +below(1000px)
        display none
      .no-projects
        padding 20px
      table
        border-spacing 0
        border-collapse collapse
        text-align left
        margin auto
        width 100%
        thead
          width 100%
          tr
            border-bottom none
            height 25px
          th
            {PROXIMA_BOLD}

        tbody
          tr
            cursor pointer
            &:hover
              background #015926
              *
                color white

        tr
          height 45px
          border-bottom 1px dashed #23A65A
          td,th
            color #222
            white-space nowrap
            vertical-align middle
            box-sizing border-box
            padding 0 2px
            font-size 12px
            &.street
              padding-left 10px
              span
                text-overflow ellipsis
                white-space nowrap
                display block
                width 100px
                overflow hidden
            i
              font-size 18px
              display inline-block
              margin 0 5px
              &.greyed
                color darken($light-grey, 5%)

  /////////////////////////////////////////////////////////////////////////////
  // Categories
  /////////////////////////////////////////////////////////////////////////////
  .add-category
    color lighten($dark-grey, 60%)
    font-size 1.5rem
    transition color 0.5s
    {PROXIMA_BOLD}
    i
      display inline-block
      margin-right 8px
    &:hover
      color $tarracotta-roof

  .pills
    clearfix()
    &.sub
      .catpill
        background lighten($tarracotta-roof, 38%)
    .catpill
      background $tarracotta-roof
      &.unsaved
        background lighten($tarracotta-roof, 50%)
      display inline-block
      color $white
      padding 5px 33px 5px 17px
      border-radius 18px
      font-size 1.4rem
      text-transform capitalize
      {PROXIMA_REGULAR}
      text-align center
      margin 0 15px 15px 0
      position relative
      transition background 0.5s
      &:hover
        background darken(@background, 50%)
      &.active
        background $black !important

      i
        position absolute
        right 9px
        top 2px
        color $white
        font-size 2rem
        display inline-block
        &:hover
          color #ccc

      input
        background transparent
        outline 0
        border none
        color $white
        {PROXIMA_REGULAR}
        font-size 1.4rem

  .sub-cat-selector
    clearfix()
    box-sizing border-box
    background #f1f1f1
    padding 30px
    margin 50px 0
    .label-holder
      column(1/3)
      +below(3)
        stack()
    .select-holder
      column(2/3)
      +below(3)
        stack()

    h3
      margin 0 0 5px
      padding 0
    p
      font-size 1.2rem
      color $dark-grey

  .no-cat-selected
    border 1px dashed $grey
    text-align center
    padding 50px
    p
      padding 0
      margin 0
      font-size 2rem

  .table-search
    float right
    position relative
    box-sizing border-box
    border 3px solid $light-grey
    height 38px
    width 300px
    top -30px
    margin-top -30px
    +below(2)
      margin 0 0 20px
      top 0
      width 100%
    input
      box-sizing border-box
      border none
      position absolute
      width 100%
      height 100%
      top 0
      bottom 0
      left 0
      right 0
      outline none
      padding 1px 13px
      font-size 1.5rem
      background transparent
    i
      position absolute
      top 50%
      transform translateY(-50%)
      right 10px
      color $black
