PROXIMA_LIGHT =
  font-family "proxima-nova"
  font-weight 300

PROXIMA_REGULAR =
  font-family "proxima-nova"
  font-weight 400

PROXIMA_BOLD =
  font-family "proxima-nova"
  font-weight 700

PROXIMA_BLACK =
  font-family "proxima-nova"
  font-weight 900

TEXT_LARGE =
  font-size 1.9rem

TEXT_SMALL =
  font-size 1.2rem
