.basic-field
  border 1px solid $grey
  box-sizing border-box
  padding 10px 10px
  background $white
  color $black
  outline none
  font-size 1.4rem
  {PROXIMA_REGULAR}

  &.plain
    border none
    padding 0

.basic-field, .field
  width 270px
  +below(3)
    width 50%

  &.small
    width 100px
    +below(3)
      width 100%

  &.medium
    width 300px
    +below(3)
      width 100%

  &.large
    width 370px
    +below(3)
      width 100%

  &.stretch
    width 100%

input, textarea, select
  &.invalid
    border 1px solid $tarracotta-roof

  &[disabled]
    background alpha($grey, 40%)
    color $dark-grey
    cursor not-allowed

.control-images
  .drop-area
    box-sizing border-box
    width 100%
    min-height 150px
    position relative
    border 1px dashed $grey
    margin 12px 0 4px
    cursor pointer
    p
      position absolute
      top 50%
      left 50%
      transform translateX(-50%) translateY(-50%)
      margin 0

  .existing-images
    clearfix()
    padding 20px 0 10px

    .preview-image
      clearfix()
      float left
      margin-right 15px
      margin-bottom 15px

      &.ui-sortable-placeholder
        opacity 0.1

      .inner
        clearfix()
        position relative
        background $black
        padding 5px

        .img
          display block
          width 150px
          height 120px
          background-size cover
          background-position center center

      button
        position absolute
        top 0
        right 0
        z-index 10
        background $black
        padding 4px 6px
        i
          color $white
          font-size 1.5rem
        &:hover
          i
            color $tarracotta-roof


.control-ccdate
  margin-bottom 20px
  clearfix()
  .field
    span(17/36)
    box-sizing border-box
    input
      width 100%;
      display block
  .mid-field
    span(2/36)
    span
      line-height 3rem
      font-size 2rem
      position relative
      top 3px

// Remember me label for login.
+below(3)
  \.auth-controls .control.inline label
    display inline !important

.control
  margin-bottom 20px
  clearfix()

  label
    display block
    margin-bottom 5px
    font-size 1.4rem
    {PROXIMA_REGULAR}

  &.inline
    label
      display inline-block
      +below(3)
        stack()

  .field-wrap
    display inline-block
    +below(3)
      stack()

    .error
      background transparent
      display inline-block
      padding 10px 0 0
      color $tarracotta-roof

  small
    display block
    padding 10px 0
    color #666

.err-msg
  display inline-block
  margin 0 0 0 10px
  color $tarracotta-roof
  {TEXT_SMALL}
  +below(3)
    display block
    margin 8px 0 0 0
  &.block
    margin 10px 0 0 0
    display block

.below-err
  padding 5px 0 0
  .err-msg
    margin 0

.contained
  +above(4)
    box-sizing border-box
    border 1px solid $light-grey

    .label-wrap
      column(1/5)
      +below(3)
        stack()
      display block
      position relative
      min-height 40px
      label
        vertical-align middle
        display table-cell
        height @min-height

    .field-wrap
      column(4/5)
      +below(3)
        stack()
        display block

    .control
      border-bottom 1px solid $light-grey
      padding 20px
      margin 0

    .action-control
      padding 20px
      background lighten($light-grey, 50%)
      clearfix()
      .btn-wrap
        column(4/5)
        float right

.account-form
  position relative
  .deactivate-account
    font-size 1.2rem
    position absolute
    left 18px
    bottom 25px
    color $tarracotta-roof
    opacity 0.7
    &:hover
      text-decoration underline
    +below(3)
      display none

.import-project-form
  .add-cat-button
    color $tarracotta-roof
    padding 10px
  .remove-cat-btn
    color $tarracotta-roof
    padding 3px 0 0 0
