.app-sidebar
  background alpha($akaroa, 15%)
  height 100%
  left 0
  bottom 0
  top 0
  position fixed
  overflow hidden
  transition width 1s

  width EXPANDED_SIDEBAR_WIDTH

  +tablet()
    width COLLAPSED_SIDEBAR_WIDTH

  +below(COLLAPSE_BREAKPOINT)
    width COLLAPSED_SIDEBAR_WIDTH

  .branding
    width 90%
    height 70px
    margin 20px auto
    background-image url(/static/images/logo-full.png)
    background-size contain
    background-repeat no-repeat
    background-position center center
    text-indent -9999px
    display block
    overflow hidden

    +below(COLLAPSE_BREAKPOINT)
      background-size 70% auto
    +tablet()
      background-size 70% auto

  ul
    a, .disabled-lnk
      display block
      padding 10px 20px
      color $black
      text-decoration none
      transition background 0.4s
      {PROXIMA_REGULAR}
      white-space nowrap

      &.disabled-lnk
        opacity 0.4
        &:hover
          background transparent

      &.active, &:hover
        background alpha($akaroa, 20%)

      +tablet()
        padding 10px 0
        width 100%
        text-align center
        span
          display none
      +below(COLLAPSE_BREAKPOINT)
        padding 10px 0
        width 100%
        text-align center
        span
          display none

    i
      display inline-block
      width 24px
      font-size 1.6rem

