.survey-screen
  background-image url(/static/images/logo-lrg.png)
  background-repeat no-repeat
  background-position 100% 50%
  background-size auto 90%
  +below(3)
    background-position 110% 100%
    background-size auto 50%

  h1
    {PROXIMA_BOLD}
    font-size 3rem
    margin-bottom 1.3rem

  .survey-controls
    width 30%
    min-width 240px
    padding 5% 0 0 20%

    textarea
      border 1px solid #eee
      padding 10px
      box-sizing border-box
      {PROXIMA_REGULAR}
      font-size 1.4rem
      height 70px
      width 100%
      outline 0

    &.wider
      width 45%

    +below(2)
      width 90%
      &.wider
        width 90%

    +below(3)
      padding 30px 0
      position static
      transform none
      width 90%
      margin auto

    span
      margin 0 10px 0 4px

  .row
    clearfix()
    .half
      column(1/2)
      +below(3)
        stack()

  .cta-links
    font-size 1.6rem
    {PROXIMA_REGULAR}
    +below(3)
      a
        display block
        margin-bottom 15px
      span
        display none

  .customer-email
    padding 0 0 20px
    label
      {PROXIMA_REGULAR}
      display block
      margin-bottom 3px

    input
      padding 5px 5px
      display block
      min-width 240px
      box-sizing border-box

