.generic-tbl
  border-collapse collapse
  table-layout fixed
  box-sizing border-box
  width 100%

  thead
    border-top 1px solid $light-grey
    th
      color $dark-grey

  tbody
    tr:nth-child(even)
      background lighten($light-grey, 60%)
    tr
      border-bottom 1px solid lighten($light-grey, 50%)
      &:last-child
        border-bottom none

  td
    padding 8px
    overflow hidden
    text-overflow ellipsis

    .control-icons
      > *
        {TEXT_LARGE}
        margin-right 7px
        .alittlesmaller
          font-size 1.7rem

  th
    padding 8px
    font-size 1.4rem
    {PROXIMA_BOLD}
