doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/static/js/analytics.js')
    title Project Map It | Admin
    style.
      html,body {
        margin:0;
        padding:0;
        font-size: 12px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
      body {
        padding: 2%;
      }
      table {
        text-align: left;
        width: 100%;
        font-weight: 300;
      }
      tr:hover {
        background: #f1f1f1;
      }

  body
    h1 Owners

    table
      thead
        tr
          th Created
          th Organization
          th Member Name
          th Email
          th Cell
          th Plan
          th Project Count
          th Active
          th Stripe Acct
          th -
      tbody
        each user in users
          tr
            td= moment(user.created).format('MMMM Do YYYY, h:mm:ss a')
            td
              a(href='/public/' + user.organization.slug)= user.organization.name
            td= user.name
            td= user.email
            td= user.cell
            td= user.organization.plan
            td= user.projectCount
            td= user.organization.active ? 'Yes' : 'No'
            td
              a(
                href='https://dashboard.stripe.com/customers/'+user.organization.stripeId,
                target='_blank',
              ) View
            th
              a.remove(data-uid=user._id.toString(), href='#') Remove

    h1 Deactivations

    p These users can be reactivated if they log in again. If they contact us directly, we can manually hard-remove them using the remove button. This record will remain for record keeping.

    table
      thead
        tr
          th Deactivated
          th Email
          th Reason
      tbody
        each removal in removals
          tr
            td= moment(removal.removed).format('MMMM Do YYYY, h:mm:ss a')
            td= removal.email
            td= removal.reason

    script(type='text/javascript').
      $(function() {
        $('.remove').each(function() {
          $(this).on('click', function(e) {
            var id = $(this).data('uid');
            e.preventDefault();
            if (confirm('Are you sure you want to delete this member?')) {
              window.location = '/admin/remove/' + id;
            }
          });
        });
      });
