extends layout

block presetup
  - bodyClasses.push('main-app')

block content
  div#app
  script.
      window.initialState = !{initialState};
      window.pubOrgId = "#{pubOrgId}";

  - var isDev = env.NODE_ENV === "development"
  if isDev
    script(src='/projectmapit.js?v=1.0.0')
  else
    script(src='/static/js/main.min.js?v=1.0.0')
