extends layout

block presetup
  - bodyClasses.push('auth-screen')

block content
  div.auth-controls
    form(method='post', action='/forgot/')
      fieldset
        h1 Reset Your Password

        if error.length
          div.error
            each msg in error
              p= msg

        if info.length
          div.info
            each msg in info
              p= msg

        div.control
          label Email
          input.basic-field.stretch(type='email', name='email', value=fields.email)

        div.control.inline
          button.btn(type='submit') Reset Password

        hr

        div.control.cta-links
          a(href='/register') Create an account
          span &nbsp;&nbsp;·&nbsp;&nbsp;
          a(href='/login') Sign in
