- var bodyClasses = [];
block presetup

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="description" content="#{ description }")
    title= title

    script(src='https://use.typekit.net/umw6cnl.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

    script(src='https://maps.googleapis.com/maps/api/js?key=' + googleServerApiKey + '&libraries=places,geometry')
    script.
      window._googleApiKey = "#{googleServerApiKey}";

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/1.2.2/react-datepicker.min.css')

    - var isDev = env.NODE_ENV === "development"
    if isDev
      link(rel='stylesheet', href='/static/stylesheets/main.css')
    else
      link(rel='stylesheet', href='/static/css/main.min.css')

    include ./favicon.jade

  body(class=bodyClasses)
    block content

    script(src='/static/js/analytics.js')
