extends layout

block presetup
  - bodyClasses.push('auth-screen')

block content
  div.auth-controls
    form(method='post', action='/login/')
      fieldset
        h1 Project Map It

        if error.length
          div.error
            each msg in error
              p= msg

        if info.length
          div.info
            each msg in info
              p= msg

        div.control
          label Email
          input.basic-field.stretch(type='email', name='email', value=fields.email)

        div.control
          label Password
          input.basic-field.stretch(type='password', name='password')

        div.control.inline
          button.btn(type='submit') Sign In
          span &nbsp;&nbsp;&nbsp;
          input(type='checkbox', name='remember_me', id='remember', value=fields.remember_me)
          span &nbsp;
          label(for='remember') Remember me.

        hr

        div.control.cta-links
          a(href='/register') Create an account
          span &nbsp;&nbsp;·&nbsp;&nbsp;
          a(href='/forgot') Can't log in?
