extends layout

block presetup
  - bodyClasses.push('auth-screen', 'register')

block content
  div.auth-controls.wider
    form(method='post', action='/register/')
      fieldset
        h1 Create an account.

        if error.length
          ul.error
            each msg in error
              ul= msg

        if info.length
          ul.info
            each msg in info
              ul= msg

        div.row
          div.half
            div.control
              label Organization Name*
              input.basic-field.stretch(type='text', name='organization', value=fields.organization)

            div.control
              label Your Name*
              input.basic-field.stretch(type='text', name='name', value=fields.name)

            div.control
              label Cell Phone*
              input.basic-field.cell.stretch(type='text', name='cell', value=fields.cell)

            div.control
              label Email*
              input.basic-field.stretch(type='email', name='email', value=fields.email)

          div.half
            div.control
              label Password*
              input.basic-field.stretch(type='password', name='password')

            div.control
              label Confirm Password*
              input.basic-field.stretch(type='password', name='password_confirm')

            div.control
              label Promo Code
              input.basic-field.stretch(type='text', name='promo', value=fields.promo)

            div.control
              label GAF Bucks
              label(for='gafbucks')
                input(type='checkbox', id='gafbucks', name='gafbucks', value=fields.gafbucks)
                | &nbsp;If you are a GAF customer and would like to use your GAF Bucks
                | balance on an annual Project Map It subscription, check this box.

        div.control.inline
          label(for='agree')
            input(type='checkbox', id='agree', name='agree', value=fields.agree)
            | &nbsp;By clicking this button, you agree to Project Map It's <a
            | target='_blank' href='http://projectmapit.com/terms-conditions/'><b>terms and conditions</b></a>.

        div.control.inline
          button.btn(type='submit') Create Account

        hr

        div.control.cta-links
          span Already have an account?&nbsp;
          a(href='/login'): b Sign In.

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.3/jquery.inputmask.bundle.min.js')
  script.
    $('.cell').inputmask({"mask": "(999) 999-9999"});
