extends layout

block presetup
  - bodyClasses.push('auth-screen')

block content
  div.auth-controls
    form(method='post', action=resetUrl)
      fieldset
        h1 Set Your Password

        if error.length
          div.error
            each msg in error
              p= msg

        if info.length
          div.info
            each msg in info
              p= msg

        div.control
          label New Password
          input.basic-field.stretch(type='password', name='password')

        div.control
          label Confirm New Password
          input.basic-field.stretch(type='password', name='password_confirm')

        div.control.inline
          button.btn(type='submit') Update Password

        hr

        div.control.cta-links
          a(href='/register') Create an account
          span &nbsp;&nbsp;·&nbsp;&nbsp;
          a(href='/login') Sign in
