extends layout

block presetup
  - bodyClasses.push('survey-screen')

mixin stars(id)
  div
    input.checkbox(type='radio', name=id, value='1', required='true')
    span 1
    input.checkbox(type='radio', name=id, value='2', required='true')
    span 2
    input.checkbox(type='radio', name=id, value='3', required='true')
    span 3
    input.checkbox(type='radio', name=id, value='4', required='true')
    span 4
    input.checkbox(type='radio', name=id, value='5', required='true')
    span 5

block content
  div.survey-controls
    if project.id
      form(method='post', action='/survey/'+project.id)
        fieldset
          h1 #{orgName}
          p Please take a moment to fill out our customer survey.
          br
          br

          if info.length
            div.info
              each msg in info
                p= msg

          each question in questions
            div.control
              label= question.text

              if question.kind == 'text'
                textarea.textarea.stretch(name=question.id, value='', required='true')
              if question.kind == 'boolean'
                input.checkbox(type='radio', name=question.id, value='1', required='true')
                span Yes
                input.checkbox(type='radio', name=question.id, value='0', required='true')
                span No
              if question.kind == 'star'
                +stars(question.id)

          - var hasEmails = project.surveyEmails && project.surveyEmails.length

          if !submitted
            if !hasEmails
              div.customer-email
                label Email Address
                input(type="email", name="email", placeholder="your@email.com")


          if !submitted
            div.control
              label <input type="checkbox" required="true" />&nbsp;I hereby grant #{orgName} the right to use any of the information above along with my street address, city, and state for marketing and other purposes.
            br
            div.control.inline
              button.btn(type='submit') Send Survey

            hr
    else
      h1 There was a problem retrieving this survey.
      if error.length
        div.error
          each msg in error
            p= msg
