html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "proxima-nova";
  font-weight: 300;
  background: #fff;
}
body,
html {
  height: 100%;
}
body {
  font-size: 1.4rem;
}
a {
  color: #a62c23;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover,
a.active {
  text-decoration: underline;
  color: #000;
}
b,
strong {
  font-family: "proxima-nova";
  font-weight: 700;
}
small {
  font-size: 1.2rem;
  line-height: 1.5;
}
p {
  line-height: 1.5;
}
hr {
  border: none;
  background: #d9d9d9;
  height: 1px;
  margin: 20px 0;
  padding: 0;
}
button {
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
}
button i {
  color: #a62c23;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
}
button:hover i {
  color: #000;
}
.text-center {
  text-align: center;
}
.color-warning {
  color: #baba00;
}
.selectable {
  cursor: pointer;
}
.growler-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  z-index: 10000;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-family: "proxima-nova";
  font-weight: 400;
}
.growler-message .info {
  background: #015926;
}
.growler-message .error {
  background: rgba(149,40,32,0.8);
}
.growler-message .growler-close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.4rem;
}
.growler-message .growler-close i {
  color: #fff;
}
.info {
  background: #015926;
  padding: 15px;
  margin: 0 0 20px;
}
.info p,
.info ul {
  margin: 0;
  padding: 0;
  color: #fff;
  margin: 1rem;
}
.info.discount {
  background: url("/static/images/fireworks.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-size: 18px;
  text-align: center;
}
.info.discount i {
  font-size: 40px;
  color: #f1f442;
}
.error {
  background: #a62c23;
  padding: 15px;
  margin: 0 0 20px;
}
.error p,
.error ul {
  margin: 0;
  padding: 0;
  color: #fff;
  margin: 1rem;
}
.error li {
  padding: 0 0 5px;
}
.error li:last-child {
  padding: 0;
}
#app,
.app-wrapper {
  height: 100%;
}
.btn {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
  background: #a62c23;
  color: #fff;
  border: none;
  padding: 8px 18px;
  display: inline-block;
  font-family: "proxima-nova";
  font-weight: 300;
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.5rem;
  cursor: pointer;
  outline: 0;
}
.btn:hover {
  background: #85231c;
  text-decoration: none;
  color: #fff;
}
.btn[disabled] {
  cursor: no-drop;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.btn input {
  display: none;
}
.slick-slider {
  margin-bottom: 0;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(134,134,134,0.2);
  border-right: 3px solid rgba(134,134,134,0.2);
  border-bottom: 3px solid rgba(134,134,134,0.2);
  border-left: 3px solid #868686;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  -moz-animation: load8 1.1s infinite linear;
  -o-animation: load8 1.1s infinite linear;
  -ms-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.loader.geolocating {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 0;
  right: -10px;
  top: 20px;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.chat-area {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
}
.modal-outer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
  overflow: auto;
}
.modal-outer.payment-modal .modal-inner {
  width: 350px;
}
.modal-outer.payment-modal .upgrade-form > h2 {
  margin-bottom: 15px;
}
.modal-outer.payment-modal .upgrade-form > p {
  margin-bottom: 15px;
}
.modal-outer.send-survey-email-modal .question-wrap {
  margin-bottom: 10px;
}
.modal-outer.send-survey-email-modal .question-wrap::after {
  content: '';
  display: table;
  clear: both;
}
.modal-outer.send-survey-email-modal .question-wrap .pub {
  float: left;
  width: 40px;
}
.modal-outer.send-survey-email-modal .question-wrap .question {
  margin-left: 60px;
}
.modal-outer .modal-inner {
  width: 600px;
  height: auto;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  margin: auto auto 20px;
  top: 10%;
  left: 50%;
  -webkit-transform: translateY(0%) translateX(-50%);
  -moz-transform: translateY(0%) translateX(-50%);
  -o-transform: translateY(0%) translateX(-50%);
  -ms-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%);
}
@media only screen and (max-width: 800px) {
  .modal-outer .modal-inner {
    width: 100%;
  }
}
.modal-outer .modal-inner .close {
  position: absolute;
  top: 4px;
  right: 5px;
  font-size: 2rem;
  background: transparent;
  cursor: pointer;
  outline: 0;
  border: none;
  z-index: 999;
}
.modal-outer .modal-inner .close i {
  color: #d9d9d9;
}
.modal-outer .modal-inner .close:hover i {
  color: #444;
}
.project-modal {
  background: rgba(0,0,0,0.8);
}
.project-modal.has-no-photos .modal-inner {
  min-height: 500px;
  background-image: url("/static/images/logo-lrg.png");
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  background-size: auto 90%;
}
.project-modal .modal-inner {
  background: #000;
  padding: 0;
  color: #fff;
  width: 80%;
}
.project-modal .slide.img {
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
}
.project-modal .slide.img.landscape {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.project-modal .no-images {
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 50%;
}
.project-modal .detail-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  color: #fff;
}
.project-modal .detail-bar .message {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: left;
  font-family: "proxima-nova";
  font-weight: 700;
}
.project-modal .detail-bar .message::after {
  content: '';
  display: table;
  clear: both;
}
.project-modal .detail-bar .message:last-child {
  margin-right: 0%;
}
.project-modal .detail-bar .address {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
}
.project-modal .detail-bar .address::after {
  content: '';
  display: table;
  clear: both;
}
.project-modal .detail-bar .address:last-child {
  margin-right: 0%;
}
.project-modal .review-button {
  position: absolute;
  z-index: 100;
  bottom: 10px;
  left: 12px;
  font-size: 3rem;
}
.project-modal .review-button i {
  color: #fff;
}
.project-modal .close-review {
  position: absolute;
  right: 20px;
  top: 10px;
}
.project-modal .close-review i {
  color: #fff;
  font-size: 3rem;
}
.project-modal .details {
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
  padding: 20px;
  background: rgba(0,0,0,0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.project-modal .details.review-on {
  display: block;
}
.project-modal .details h4,
.project-modal .details h3,
.project-modal .details h5 {
  color: #fff;
}
.project-modal .details h4 {
  margin-bottom: 15px;
  border-bottom: #222 1px solid;
  padding-bottom: 6px;
}
.project-modal .review {
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .project-modal .review {
    padding-bottom: 80px;
  }
}
.project-modal .review * {
  color: #fff;
}
.project-modal .review .fa-star {
  color: #ff0;
  margin-right: 1px;
}
.project-modal .review .col {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.project-modal .review .col::after {
  content: '';
  display: table;
  clear: both;
}
.project-modal .review .col:last-child {
  margin-right: 0%;
}
.project-modal .review .col .question {
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .project-modal .review .col {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .project-modal .review .col:first-child {
    margin-left: auto;
  }
  .project-modal .review .col:last-child {
    margin-right: auto;
  }
}
.project-modal .categories {
  position: absolute;
  bottom: -70px;
  height: 60px;
}
.project-modal .categories span {
  font-size: 1.2rem;
  border-radius: 8px;
  display: inline-block;
  padding: 6px 12px;
  color: #e8e8e8;
  background: #000;
}
.project-modal .categories li {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 7px;
}
.pagination {
  clear: both;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination li {
  display: inline-block;
  margin: 0 2px;
}
.pagination li a {
  cursor: pointer;
  padding: 4px 7px 3px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(215,202,167,0.5);
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-family: "proxima-nova";
  font-weight: 400;
}
.pagination li.previous,
.pagination li.next {
  background: rgba(215,202,167,0.5);
}
.pagination li.previous a,
.pagination li.next a {
  border: none;
}
.pagination li.previous i,
.pagination li.next i {
  color: #444;
}
.pagination li.disabled {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.pagination li.selected a {
  border: 3px solid #b9a265;
}
.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 1.2rem;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 5px 0 9px 0;
}
.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 5px 0 9px;
}
.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 9px 0 5px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 9px 0 5px;
}
.rc-tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #373737;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.17);
  box-shadow: 0 0 4px rgba(0,0,0,0.17);
  min-height: 10px;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #373737;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #373737;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #373737;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #373737;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -moz-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -ms-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  -ms-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -moz-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -o-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -ms-animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  -webkit-animation-name: rcToolTipZoomOut;
  -moz-animation-name: rcToolTipZoomOut;
  -o-animation-name: rcToolTipZoomOut;
  -ms-animation-name: rcToolTipZoomOut;
  animation-name: rcToolTipZoomOut;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  -webkit-animation-name: rcToolTipZoomIn;
  -moz-animation-name: rcToolTipZoomIn;
  -o-animation-name: rcToolTipZoomIn;
  -ms-animation-name: rcToolTipZoomIn;
  animation-name: rcToolTipZoomIn;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
.Select {
  position: relative;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control > .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
/* For IE 8 compatibility */
  padding: 8px 0 12px;
/* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -moz-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  -ms-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  -webkit-animation: Select-animation-fadeIn 200ms;
  -moz-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  -ms-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #d0021b;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
/* Fallback color for IE 8 */
  background-color: rgba(0,126,255,0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
/* Fallback color for IE 8 */
  background-color: rgba(0,126,255,0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #ccc;
  cursor: default;
}
.Select-noresults {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
/* Fallback color for IE 8 */
  background-color: rgba(0,126,255,0.08);
  border-radius: 2px;
  border: 1px solid rgba(0,126,255,0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
/* Fallback color for IE 8 */
  border-right: 1px solid rgba(0,126,255,0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
/* Fallback color for IE 8 */
  background-color: rgba(0,113,230,0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
/* Fallback color for IE 8 */
  background-color: rgba(0,126,255,0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
.geosuggest {
  position: relative;
  height: 71px;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #a62c23;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  -webkit-transition: max-height 0.2s, border 0.2s;
  -moz-transition: max-height 0.2s, border 0.2s;
  -o-transition: max-height 0.2s, border 0.2s;
  -ms-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geosuggest-item {
  padding: 0.5em 0.65em;
  cursor: pointer;
  line-height: 1.6rem;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #d7caa7;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}
@-moz-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}
@-webkit-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}
@-o-keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}
@-moz-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.basic-field {
  border: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  background: #fff;
  color: #000;
  outline: none;
  font-size: 1.4rem;
  font-family: "proxima-nova";
  font-weight: 400;
}
.basic-field.plain {
  border: none;
  padding: 0;
}
.basic-field,
.field {
  width: 270px;
}
@media only screen and (max-width: 800px) {
  .basic-field,
  .field {
    width: 50%;
  }
}
.basic-field.small,
.field.small {
  width: 100px;
}
@media only screen and (max-width: 800px) {
  .basic-field.small,
  .field.small {
    width: 100%;
  }
}
.basic-field.medium,
.field.medium {
  width: 300px;
}
@media only screen and (max-width: 800px) {
  .basic-field.medium,
  .field.medium {
    width: 100%;
  }
}
.basic-field.large,
.field.large {
  width: 370px;
}
@media only screen and (max-width: 800px) {
  .basic-field.large,
  .field.large {
    width: 100%;
  }
}
.basic-field.stretch,
.field.stretch {
  width: 100%;
}
input.invalid,
textarea.invalid,
select.invalid {
  border: 1px solid #a62c23;
}
input[disabled],
textarea[disabled],
select[disabled] {
  background: rgba(217,217,217,0.4);
  color: #444;
  cursor: not-allowed;
}
.control-images .drop-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  position: relative;
  border: 1px dashed #d9d9d9;
  margin: 12px 0 4px;
  cursor: pointer;
}
.control-images .drop-area p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
}
.control-images .existing-images {
  padding: 20px 0 10px;
}
.control-images .existing-images::after {
  content: '';
  display: table;
  clear: both;
}
.control-images .existing-images .preview-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.control-images .existing-images .preview-image::after {
  content: '';
  display: table;
  clear: both;
}
.control-images .existing-images .preview-image.ui-sortable-placeholder {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.control-images .existing-images .preview-image .inner {
  position: relative;
  background: #000;
  padding: 5px;
}
.control-images .existing-images .preview-image .inner::after {
  content: '';
  display: table;
  clear: both;
}
.control-images .existing-images .preview-image .inner .img {
  display: block;
  width: 150px;
  height: 120px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.control-images .existing-images .preview-image button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: #000;
  padding: 4px 6px;
}
.control-images .existing-images .preview-image button i {
  color: #fff;
  font-size: 1.5rem;
}
.control-images .existing-images .preview-image button:hover i {
  color: #a62c23;
}
.control-ccdate {
  margin-bottom: 20px;
}
.control-ccdate::after {
  content: '';
  display: table;
  clear: both;
}
.control-ccdate .field {
  float: left;
  clear: none;
  text-align: inherit;
  width: 47.22222222222222%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.control-ccdate .field::after {
  content: '';
  display: table;
  clear: both;
}
.control-ccdate .field input {
  width: 100%;
  display: block;
}
.control-ccdate .mid-field {
  float: left;
  clear: none;
  text-align: inherit;
  width: 5.555555555555555%;
  margin-left: 0%;
  margin-right: 0%;
}
.control-ccdate .mid-field::after {
  content: '';
  display: table;
  clear: both;
}
.control-ccdate .mid-field span {
  line-height: 3rem;
  font-size: 2rem;
  position: relative;
  top: 3px;
}
@media only screen and (max-width: 800px) {
  .auth-controls .control.inline label {
    display: inline !important;
  }
}
.control {
  margin-bottom: 20px;
}
.control::after {
  content: '';
  display: table;
  clear: both;
}
.control label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-family: "proxima-nova";
  font-weight: 400;
}
.control.inline label {
  display: inline-block;
}
@media only screen and (max-width: 800px) {
  .control.inline label {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .control.inline label:first-child {
    margin-left: auto;
  }
  .control.inline label:last-child {
    margin-right: auto;
  }
}
.control .field-wrap {
  display: inline-block;
}
@media only screen and (max-width: 800px) {
  .control .field-wrap {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .control .field-wrap:first-child {
    margin-left: auto;
  }
  .control .field-wrap:last-child {
    margin-right: auto;
  }
}
.control .field-wrap .error {
  background: transparent;
  display: inline-block;
  padding: 10px 0 0;
  color: #a62c23;
}
.control small {
  display: block;
  padding: 10px 0;
  color: #666;
}
.err-msg {
  display: inline-block;
  margin: 0 0 0 10px;
  color: #a62c23;
  font-size: 1.2rem;
}
@media only screen and (max-width: 800px) {
  .err-msg {
    display: block;
    margin: 8px 0 0 0;
  }
}
.err-msg.block {
  margin: 10px 0 0 0;
  display: block;
}
.below-err {
  padding: 5px 0 0;
}
.below-err .err-msg {
  margin: 0;
}
@media only screen and (min-width: 800px) {
  .contained {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
  }
  .contained .label-wrap {
    float: left;
    clear: none;
    text-align: inherit;
    width: 17.6%;
    margin-left: 0%;
    margin-right: 3%;
    display: block;
    position: relative;
    min-height: 40px;
  }
  .contained .label-wrap::after {
    content: '';
    display: table;
    clear: both;
  }
  .contained .label-wrap:last-child {
    margin-right: 0%;
  }
  .contained .label-wrap label {
    vertical-align: middle;
    display: table-cell;
    height: 40px;
  }
  .contained .field-wrap {
    float: left;
    clear: none;
    text-align: inherit;
    width: 79.4%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .contained .field-wrap::after {
    content: '';
    display: table;
    clear: both;
  }
  .contained .field-wrap:last-child {
    margin-right: 0%;
  }
  .contained .control {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px;
    margin: 0;
  }
  .contained .action-control {
    padding: 20px;
    background: #f4f4f4;
  }
  .contained .action-control::after {
    content: '';
    display: table;
    clear: both;
  }
  .contained .action-control .btn-wrap {
    float: left;
    clear: none;
    text-align: inherit;
    width: 79.4%;
    margin-left: 0%;
    margin-right: 3%;
    float: right;
  }
  .contained .action-control .btn-wrap::after {
    content: '';
    display: table;
    clear: both;
  }
  .contained .action-control .btn-wrap:last-child {
    margin-right: 0%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 800px) {
  .contained .label-wrap {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .contained:first-child {
    margin-left: auto;
  }
  .contained:last-child {
    margin-right: auto;
  }
}
@media only screen and (min-width: 800px) and (max-width: 800px) {
  .contained .field-wrap {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .contained:first-child {
    margin-left: auto;
  }
  .contained:last-child {
    margin-right: auto;
  }
}
.account-form {
  position: relative;
}
.account-form .deactivate-account {
  font-size: 1.2rem;
  position: absolute;
  left: 18px;
  bottom: 25px;
  color: #a62c23;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.account-form .deactivate-account:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 800px) {
  .account-form .deactivate-account {
    display: none;
  }
}
.import-project-form .add-cat-button {
  color: #a62c23;
  padding: 10px;
}
.import-project-form .remove-cat-btn {
  color: #a62c23;
  padding: 3px 0 0 0;
}
.generic-tbl {
  border-collapse: collapse;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.generic-tbl thead {
  border-top: 1px solid #e8e8e8;
}
.generic-tbl thead th {
  color: #444;
}
.generic-tbl tbody tr:nth-child(even) {
  background: #f6f6f6;
}
.generic-tbl tbody tr {
  border-bottom: 1px solid #f4f4f4;
}
.generic-tbl tbody tr:last-child {
  border-bottom: none;
}
.generic-tbl td {
  padding: 8px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.generic-tbl td .control-icons > * {
  font-size: 1.9rem;
  margin-right: 7px;
}
.generic-tbl td .control-icons > * .alittlesmaller {
  font-size: 1.7rem;
}
.generic-tbl th {
  padding: 8px;
  font-size: 1.4rem;
  font-family: "proxima-nova";
  font-weight: 700;
}
.auth-screen {
  background-image: url("/static/images/logo-lrg.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  background-size: auto 90%;
}
@media only screen and (max-width: 800px) {
  .auth-screen {
    background-position: 110% 100%;
    -webkit-background-size: auto 50%;
    -moz-background-size: auto 50%;
    background-size: auto 50%;
  }
}
@media only screen and (max-width: 600px) {
  .auth-screen {
    background-image: none;
  }
}
.auth-screen h1 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.auth-screen .auth-controls {
  position: absolute;
  left: 30%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
  min-width: 240px;
}
.auth-screen .auth-controls.wider {
  width: 45%;
}
@media only screen and (max-width: 600px) {
  .auth-screen .auth-controls {
    width: 90%;
  }
  .auth-screen .auth-controls.wider {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .auth-screen .auth-controls {
    padding: 30px 0;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    width: 90%;
    margin: auto;
  }
}
.auth-screen.register .auth-controls {
  position: static;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  padding: 40px;
}
.auth-screen .row::after {
  content: '';
  display: table;
  clear: both;
}
.auth-screen .row .half {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.auth-screen .row .half::after {
  content: '';
  display: table;
  clear: both;
}
.auth-screen .row .half:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .auth-screen .row .half {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .auth-screen .row .half:first-child {
    margin-left: auto;
  }
  .auth-screen .row .half:last-child {
    margin-right: auto;
  }
}
.auth-screen .cta-links {
  font-size: 1.6rem;
  font-family: "proxima-nova";
  font-weight: 400;
}
@media only screen and (max-width: 800px) {
  .auth-screen .cta-links a {
    display: block;
    margin-bottom: 15px;
  }
  .auth-screen .cta-links span {
    display: none;
  }
}
.survey-screen {
  background-image: url("/static/images/logo-lrg.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  background-size: auto 90%;
}
@media only screen and (max-width: 800px) {
  .survey-screen {
    background-position: 110% 100%;
    -webkit-background-size: auto 50%;
    -moz-background-size: auto 50%;
    background-size: auto 50%;
  }
}
.survey-screen h1 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.3rem;
}
.survey-screen .survey-controls {
  width: 30%;
  min-width: 240px;
  padding: 5% 0 0 20%;
}
.survey-screen .survey-controls textarea {
  border: 1px solid #eee;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "proxima-nova";
  font-weight: 400;
  font-size: 1.4rem;
  height: 70px;
  width: 100%;
  outline: 0;
}
.survey-screen .survey-controls.wider {
  width: 45%;
}
@media only screen and (max-width: 600px) {
  .survey-screen .survey-controls {
    width: 90%;
  }
  .survey-screen .survey-controls.wider {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .survey-screen .survey-controls {
    padding: 30px 0;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    width: 90%;
    margin: auto;
  }
}
.survey-screen .survey-controls span {
  margin: 0 10px 0 4px;
}
.survey-screen .row::after {
  content: '';
  display: table;
  clear: both;
}
.survey-screen .row .half {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.survey-screen .row .half::after {
  content: '';
  display: table;
  clear: both;
}
.survey-screen .row .half:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .survey-screen .row .half {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .survey-screen .row .half:first-child {
    margin-left: auto;
  }
  .survey-screen .row .half:last-child {
    margin-right: auto;
  }
}
.survey-screen .cta-links {
  font-size: 1.6rem;
  font-family: "proxima-nova";
  font-weight: 400;
}
@media only screen and (max-width: 800px) {
  .survey-screen .cta-links a {
    display: block;
    margin-bottom: 15px;
  }
  .survey-screen .cta-links span {
    display: none;
  }
}
.survey-screen .customer-email {
  padding: 0 0 20px;
}
.survey-screen .customer-email label {
  font-family: "proxima-nova";
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}
.survey-screen .customer-email input {
  padding: 5px 5px;
  display: block;
  min-width: 240px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.app-sidebar {
  background: rgba(215,202,167,0.15);
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -ms-transition: width 1s;
  transition: width 1s;
  width: 200px;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .app-sidebar {
    width: 45px;
  }
}
@media only screen and (max-width: 800px) {
  .app-sidebar {
    width: 45px;
  }
}
.app-sidebar .branding {
  width: 90%;
  height: 70px;
  margin: 20px auto;
  background-image: url("/static/images/logo-full.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .app-sidebar .branding {
    -webkit-background-size: 70% auto;
    -moz-background-size: 70% auto;
    background-size: 70% auto;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .app-sidebar .branding {
    -webkit-background-size: 70% auto;
    -moz-background-size: 70% auto;
    background-size: 70% auto;
  }
}
.app-sidebar ul a,
.app-sidebar ul .disabled-lnk {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
  font-family: "proxima-nova";
  font-weight: 400;
  white-space: nowrap;
}
.app-sidebar ul a.disabled-lnk,
.app-sidebar ul .disabled-lnk.disabled-lnk {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.app-sidebar ul a.disabled-lnk:hover,
.app-sidebar ul .disabled-lnk.disabled-lnk:hover {
  background: transparent;
}
.app-sidebar ul a.active,
.app-sidebar ul .disabled-lnk.active,
.app-sidebar ul a:hover,
.app-sidebar ul .disabled-lnk:hover {
  background: rgba(215,202,167,0.2);
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .app-sidebar ul a,
  .app-sidebar ul .disabled-lnk {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .app-sidebar ul a span,
  .app-sidebar ul .disabled-lnk span {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .app-sidebar ul a,
  .app-sidebar ul .disabled-lnk {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
  .app-sidebar ul a span,
  .app-sidebar ul .disabled-lnk span {
    display: none;
  }
}
.app-sidebar ul i {
  display: inline-block;
  width: 24px;
  font-size: 1.6rem;
}
.app-bd {
  padding: 40px;
  position: relative;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 200px;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -o-transition: margin-left 1s;
  -ms-transition: margin-left 1s;
  transition: margin-left 1s;
}
.app-bd::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 800px) {
  .app-bd {
    margin-left: 45px;
    padding: 15px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .app-bd {
    margin-left: 45px;
    padding: 15px;
  }
}
.no-sidebar .app-bd {
  margin-left: 0 !important;
}
.app-bd h1 {
  font-size: 3.5rem;
  font-family: "proxima-nova";
  font-weight: 900;
  margin-bottom: 30px;
}
.app-bd h1 span {
  display: inline-block;
  margin-right: 25px;
}
.app-bd h1 .btn {
  position: relative;
  top: -6px;
}
.app-bd h2 {
  font-size: 3rem;
  font-family: "proxima-nova";
  font-weight: 900;
  margin-bottom: 30px;
}
.app-bd h3 {
  font-size: 2.3rem;
  font-family: "proxima-nova";
  font-weight: 700;
  margin-bottom: 25px;
  color: #444;
}
.app-bd h4 {
  font-size: 1.8rem;
  font-family: "proxima-nova";
  font-weight: 700;
  margin-bottom: 6px;
  color: #444;
}
.app-bd h5 {
  font-size: 1.4rem;
  font-family: "proxima-nova";
  font-weight: 700;
  margin-bottom: 6px;
  color: #444;
}
.app-bd h6 {
  font-family: "proxima-nova";
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 6px;
  color: #444;
}
.app-bd .col-contain::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .col-contain .half {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.app-bd .col-contain .half::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .col-contain .half:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .app-bd .col-contain .half {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .app-bd .col-contain .half:first-child {
    margin-left: auto;
  }
  .app-bd .col-contain .half:last-child {
    margin-right: auto;
  }
}
.app-bd .component-space {
  height: 50px;
}
.app-bd .underline {
  text-decoration: underline;
}
.app-bd .trial-alert-bar {
  background: #0e99e5;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}
.app-bd .trial-alert-bar span {
  font-size: 12px;
  font-family: "proxima-nova";
  font-weight: 700;
}
.app-bd .remove-all-projects,
.app-bd .send-all-surveys {
  color: #777;
  font-size: 1.1rem;
  float: right;
  color: #a62c23;
  margin-left: 10px;
}
.app-bd .remove-all-projects:hover,
.app-bd .send-all-surveys:hover {
  text-decoration: underline;
}
.app-bd .upgrade-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.78);
}
.app-bd .upgrade-overlay ol {
  margin: 20px auto 0;
  font-family: "proxima-nova";
  font-weight: 400;
  text-align: left;
  width: 90%;
}
.app-bd .upgrade-overlay ol li {
  padding-bottom: 3px;
}
.app-bd .upgrade-overlay ol li p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 6px;
  border-left: #c03328 10px solid;
  border-bottom: #c03328 1px solid;
}
.app-bd .upgrade-overlay .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
  .app-bd .upgrade-overlay .btn {
    width: 90%;
  }
}
.app-bd .upgrade-overlay .btn b {
  display: block;
  font-size: 1.9rem;
  margin-bottom: 8px;
}
.app-bd .static-map-wrapper {
  margin-bottom: 50px;
  position: relative;
}
.app-bd .static-map-wrapper img.out {
  height: auto;
  width: 100%;
}
.app-bd .static-map-wrapper img.in {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.app-bd .static-map-wrapper:hover img.in {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.app-bd .gmap-canvas {
  position: absolute;
  top: 0;
  right: 23%;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 1000px) {
  .app-bd .gmap-canvas {
    right: 0%;
  }
}
.app-bd .gmap-canvas .cluster-point {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: background 0.5s, opacity 0.5s, width 0.2s, height 0.2s;
  -moz-transition: background 0.5s, opacity 0.5s, width 0.2s, height 0.2s;
  -o-transition: background 0.5s, opacity 0.5s, width 0.2s, height 0.2s;
  -ms-transition: background 0.5s, opacity 0.5s, width 0.2s, height 0.2s;
  transition: background 0.5s, opacity 0.5s, width 0.2s, height 0.2s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.app-bd .gmap-canvas .cluster-point.size_small {
  background: #23a65a;
  border: 5px solid #33d476;
  width: 29px;
  height: 29px;
}
.app-bd .gmap-canvas .cluster-point.size_small:hover {
  background: #33d476;
  border-color: #33d476;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 45px;
  height: 45px;
}
.app-bd .gmap-canvas .cluster-point.size_medium {
  background: #015926;
  border: 5px solid #02ac49;
  width: 29px;
  height: 29px;
}
.app-bd .gmap-canvas .cluster-point.size_medium:hover {
  background: #02ac49;
  border-color: #02ac49;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 45px;
  height: 45px;
}
.app-bd .gmap-canvas .cluster-point.size_large {
  background: #f2574b;
  border: 5px solid #f5796f;
  width: 29px;
  height: 29px;
}
.app-bd .gmap-canvas .cluster-point.size_large:hover {
  background: #f5796f;
  border-color: #f5796f;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 45px;
  height: 45px;
}
.app-bd .gmap-canvas .cluster-point.size_huge {
  background: #590f0a;
  border: 5px solid #a31b12;
  width: 29px;
  height: 29px;
}
.app-bd .gmap-canvas .cluster-point.size_huge:hover {
  background: #a31b12;
  border-color: #a31b12;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 45px;
  height: 45px;
}
.app-bd .gmap-canvas .cluster-point span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2rem;
  height: 13px;
  margin: 1px 0 0 0;
  font-family: "proxima-nova";
  font-weight: 400;
}
.app-bd .sub-nav .menu {
  padding: 0 0 15px;
  margin: 0 0 20px;
  border-bottom: #e8e8e8 solid 3px;
}
.app-bd .sub-nav .menu li {
  display: inline-block;
  padding-right: 15px;
}
@media only screen and (max-width: 600px) {
  .app-bd .sub-nav .menu li {
    display: block;
    padding-bottom: 10px;
  }
}
.app-bd .sub-nav .menu .disabled-lnk {
  opacity: 0.45;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
  filter: alpha(opacity=45);
}
.app-bd .sub-nav .menu a,
.app-bd .sub-nav .menu span {
  color: #015926;
  text-decoration: none;
  font-family: "proxima-nova";
  font-weight: 400;
}
.app-bd .sub-nav .menu a.active,
.app-bd .sub-nav .menu span.active {
  color: #a62c23;
  text-decoration: underline;
}
.app-bd .subscriptions {
  border: 1px solid #d9d9d9;
}
.app-bd .subscriptions .subscription {
  border-bottom: solid 1px #d9d9d9;
}
.app-bd .subscriptions .subscription::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .subscriptions .subscription > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.app-bd .subscriptions .subscription .icon {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 0 18px;
}
.app-bd .subscriptions .subscription .icon::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .subscriptions .subscription .icon:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 1050px) {
  .app-bd .subscriptions .subscription .icon {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .app-bd .subscriptions .subscription .icon:first-child {
    margin-left: auto;
  }
  .app-bd .subscriptions .subscription .icon:last-child {
    margin-right: auto;
  }
}
.app-bd .subscriptions .subscription .icon .inner {
  height: 100px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.app-bd .subscriptions .subscription .icon.basic .inner {
  background-image: url("/static/images/icon-plan-basic.png");
}
.app-bd .subscriptions .subscription .icon.pro .inner {
  background-image: url("/static/images/icon-plan-pro.png");
}
.app-bd .subscriptions .subscription .icon.enterprise .inner {
  background-image: url("/static/images/icon-plan-enterprise.png");
}
.app-bd .subscriptions .subscription .description {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 15px 0;
}
.app-bd .subscriptions .subscription .description::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .subscriptions .subscription .description:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 1050px) {
  .app-bd .subscriptions .subscription .description {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 6px;
  }
  .app-bd .subscriptions .subscription .description:first-child {
    margin-left: auto;
  }
  .app-bd .subscriptions .subscription .description:last-child {
    margin-right: auto;
  }
}
.app-bd .subscriptions .subscription .description .details {
  color: #7c7c7c;
  margin-top: 5px;
}
.app-bd .subscriptions .subscription .action {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 25px 0 0;
  text-align: center;
}
.app-bd .subscriptions .subscription .action::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .subscriptions .subscription .action:last-child {
  margin-right: 0%;
}
.app-bd .subscriptions .subscription .action .btn.active {
  background: #015926;
}
.app-bd .subscriptions .subscription .action .btn.active:hover {
  background: #015022;
}
@media only screen and (max-width: 1050px) {
  .app-bd .subscriptions .subscription .action {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  .app-bd .subscriptions .subscription .action:first-child {
    margin-left: auto;
  }
  .app-bd .subscriptions .subscription .action:last-child {
    margin-right: auto;
  }
}
.app-bd .subscriptions .unsubscribe {
  color: #fff;
}
.app-bd .subscriptions .unsubscribe button {
  background: rgba(166,44,35,0.5);
  display: block;
  padding: 9px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}
.app-bd .subscriptions .unsubscribe button:hover {
  background: #a62c23;
}
.app-bd .questionnaire-mgmt-form .public-label {
  float: left;
  clear: none;
  text-align: inherit;
  width: 91.41666666666666%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  padding: 10px 0;
}
.app-bd .questionnaire-mgmt-form .public-label::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .questionnaire-mgmt-form .public-label:last-child {
  margin-right: 0%;
}
.app-bd .questionnaire-mgmt-form .questions {
  margin: 20px 0;
}
.app-bd .questionnaire-mgmt-form .questions .question {
  padding: 0 0 10px;
}
.app-bd .questionnaire-mgmt-form .questions .question::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .questionnaire-mgmt-form .questions .question .control {
  margin-bottom: 0;
}
.app-bd .questionnaire-mgmt-form .questions .question .kind {
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666664%;
  margin-left: 0%;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.app-bd .questionnaire-mgmt-form .questions .question .kind::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .questionnaire-mgmt-form .questions .question .kind:last-child {
  margin-right: 0%;
}
.app-bd .questionnaire-mgmt-form .questions .question .text {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.app-bd .questionnaire-mgmt-form .questions .question .text::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .questionnaire-mgmt-form .questions .question .text:last-child {
  margin-right: 0%;
}
.app-bd .questionnaire-mgmt-form .questions .question .pub {
  float: left;
  clear: none;
  text-align: inherit;
  width: 5.583333333333332%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 0 0;
}
.app-bd .questionnaire-mgmt-form .questions .question .pub::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .questionnaire-mgmt-form .questions .question .pub:last-child {
  margin-right: 0%;
}
.app-bd .questionnaire-mgmt-form .questions .question .controls {
  float: left;
  clear: none;
  text-align: inherit;
  width: 5.583333333333332%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
}
.app-bd .questionnaire-mgmt-form .questions .question .controls::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .questionnaire-mgmt-form .questions .question .controls:last-child {
  margin-right: 0%;
}
.app-bd .questionnaire-mgmt-form .questions .question .controls button {
  background: transparent;
  border: none;
  outline: 0;
  color: #a62c23;
  cursor: pointer;
  line-height: 4rem;
}
.app-bd .questionnaire-mgmt-form .questions .question .controls button:hover {
  color: #531611;
}
.app-bd .questionnaire-mgmt-form .questions .question .controls button i {
  font-size: 3rem;
  display: inline-block;
}
.app-bd .questionnaire-mgmt-form .add-question {
  float: right;
}
.app-bd .questionnaire-mgmt-form .add-question button {
  background: transparent;
  border: none;
  outline: 0;
  color: #015926;
  cursor: pointer;
  line-height: 4rem;
}
.app-bd .questionnaire-mgmt-form .add-question button:hover {
  color: #002d13;
}
.app-bd .questionnaire-mgmt-form .add-question button i {
  font-size: 3rem;
  display: inline-block;
  margin-left: 10px;
}
.app-bd .questionnaire-mgmt-form .add-question button span {
  display: inline-block;
  position: relative;
  top: -7px;
  font-size: 1.4rem;
}
.app-bd .enter-promo-form {
  padding: 20px;
  background: #f1f1f1;
  margin-bottom: 20px;
}
.app-bd .enter-promo-form::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .enter-promo-form p {
  margin-bottom: 7px;
  font-family: "proxima-nova";
  font-weight: 400;
}
.app-bd .enter-promo-form input {
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  font-size: 18px;
  border: 1px solid #ccc;
  font-family: "proxima-nova";
  font-weight: 300;
}
.app-bd .enter-promo-form input::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .enter-promo-form input:last-child {
  margin-right: 0%;
}
.app-bd .enter-promo-form button {
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  background: #382616;
  text-align: center;
  padding: 4px;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "proxima-nova";
  font-weight: 300;
}
.app-bd .enter-promo-form button::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .enter-promo-form button:last-child {
  margin-right: 0%;
}
.app-bd .enter-promo-form button:hover {
  background: #a62c23;
}
.app-bd .no-contract {
  text-align: center;
  margin-top: 30px;
}
.app-bd .no-contract h5 {
  font-size: 26px;
}
.app-bd .no-contract p {
  margin-bottom: 20px;
}
.app-bd .embed-code {
  margin: 20px 0;
}
.app-bd .embed-code textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  font-family: "proxima-nova";
  font-weight: 300;
  text-align: center;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 1.4rem;
  background: #f1f1f1;
}
.app-bd .map-filter-wrap .share-link {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .share-link {
    display: none;
  }
}
.app-bd .map-filter-wrap .misc-filters {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: #fff;
  padding: 9px;
  text-align: center;
  font-size: 1.2rem;
  -webkit-box-shadow: 3px 1px 3px rgba(0,0,0,0.3);
  box-shadow: 3px 1px 3px rgba(0,0,0,0.3);
}
.app-bd .map-filter-wrap .misc-filters span {
  display: inline-block;
  margin: 0 5px;
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .misc-filters {
    top: auto;
    bottom: 0;
  }
}
.app-bd .map-filter-wrap .misc-filters .total {
  display: block;
  margin-bottom: 10px;
  font-size: 1.8rem;
  line-height: 2rem;
}
.app-bd .map-filter-wrap .misc-filters .total b {
  font-family: "proxima-nova";
  font-weight: 700;
  color: #015926;
}
.app-bd .map-filter-wrap .map-filter {
  position: absolute;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  background: #fff;
  z-index: 20;
  border-bottom: 2px solid #a62c23;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -webkit-transition: opacity 1s, box-shadow 1s;
  -moz-transition: opacity 1s, box-shadow 1s;
  -o-transition: opacity 1s, box-shadow 1s;
  -ms-transition: opacity 1s, box-shadow 1s;
  transition: opacity 1s, box-shadow 1s;
  width: 400px;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.app-bd .map-filter-wrap .map-filter::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .map-filter-wrap .map-filter:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .map-filter {
    width: 95%;
    top: 10px;
  }
}
.app-bd .map-filter-wrap .map-filter .top::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .map-filter-wrap .map-filter .top .search-area {
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.4%;
  margin-left: 0%;
  margin-right: 3%;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.app-bd .map-filter-wrap .map-filter .top .search-area::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .map-filter-wrap .map-filter .top .search-area:last-child {
  margin-right: 0%;
}
.app-bd .map-filter-wrap .map-filter .top .search-area input {
  position: absolute;
  left: 22px;
  right: 10px;
  bottom: 0;
  top: 0;
  font-size: 2rem;
  outline: 0;
  border: none;
  width: 80%;
  background: transparent;
  font-family: "proxima-nova";
  font-weight: 300;
  height: 70px;
}
.app-bd .map-filter-wrap .map-filter .top .search-area .location-me {
  font-size: 3rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.app-bd .map-filter-wrap .map-filter .top .search-area .location-me:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.app-bd .map-filter-wrap .map-filter .top .filter-btn-area {
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.app-bd .map-filter-wrap .map-filter .top .filter-btn-area::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .map-filter-wrap .map-filter .top .filter-btn-area:last-child {
  margin-right: 0%;
}
.app-bd .map-filter-wrap .map-filter .top .filter-btn-area button {
  font-size: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.app-bd .map-filter-wrap .map-filter .filters-area {
  display: none;
}
.app-bd .map-filter-wrap .map-filter.filters-on .top .filter-btn-area button {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area {
  display: block;
  background: #f6f6f6;
  border-top: 2px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 500px;
  overflow: auto;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area {
    height: 250px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area {
    height: 250px;
  }
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .col {
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .col::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .col:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area .col {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area .col:first-child {
    margin-left: auto;
  }
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area .col:last-child {
    margin-right: auto;
  }
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list span {
  display: block;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list span::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list ul {
  margin: 0 0 3px;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list ul li {
  margin: 0 0 3px;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list input {
  width: 18px;
  margin: 0;
  float: left;
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list input {
    float: none;
  }
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list label {
  font-size: 1.3rem;
  width: auto;
  float: right;
  width: 149px;
}
@media only screen and (max-width: 800px) {
  .app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list label {
    float: none;
    margin-left: 4px;
  }
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list h5 {
  font-family: "proxima-nova";
  font-weight: 700;
  line-height: 1.2;
}
.app-bd .map-filter-wrap .map-filter.filters-on .filters-area .top-level-category-list h5 label {
  text-transform: uppercase;
}
.app-bd .map-filter-wrap .list-view {
  position: absolute;
  top: 74px;
  right: 0;
  bottom: 0;
  width: 23%;
  z-index: 5;
  overflow: scroll;
}
@media only screen and (max-width: 1000px) {
  .app-bd .map-filter-wrap .list-view {
    display: none;
  }
}
.app-bd .map-filter-wrap .list-view .no-projects {
  padding: 20px;
}
.app-bd .map-filter-wrap .list-view table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
  width: 100%;
}
.app-bd .map-filter-wrap .list-view table thead {
  width: 100%;
}
.app-bd .map-filter-wrap .list-view table thead tr {
  border-bottom: none;
  height: 25px;
}
.app-bd .map-filter-wrap .list-view table thead th {
  font-family: "proxima-nova";
  font-weight: 700;
}
.app-bd .map-filter-wrap .list-view table tbody tr {
  cursor: pointer;
}
.app-bd .map-filter-wrap .list-view table tbody tr:hover {
  background: #015926;
}
.app-bd .map-filter-wrap .list-view table tbody tr:hover * {
  color: #fff;
}
.app-bd .map-filter-wrap .list-view table tr {
  height: 45px;
  border-bottom: 1px dashed #23a65a;
}
.app-bd .map-filter-wrap .list-view table tr td,
.app-bd .map-filter-wrap .list-view table tr th {
  color: #222;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2px;
  font-size: 12px;
}
.app-bd .map-filter-wrap .list-view table tr td.street,
.app-bd .map-filter-wrap .list-view table tr th.street {
  padding-left: 10px;
}
.app-bd .map-filter-wrap .list-view table tr td.street span,
.app-bd .map-filter-wrap .list-view table tr th.street span {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100px;
  overflow: hidden;
}
.app-bd .map-filter-wrap .list-view table tr td i,
.app-bd .map-filter-wrap .list-view table tr th i {
  font-size: 18px;
  display: inline-block;
  margin: 0 5px;
}
.app-bd .map-filter-wrap .list-view table tr td i.greyed,
.app-bd .map-filter-wrap .list-view table tr th i.greyed {
  color: #dcdcdc;
}
.app-bd .add-category {
  color: #b4b4b4;
  font-size: 1.5rem;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s;
  font-family: "proxima-nova";
  font-weight: 700;
}
.app-bd .add-category i {
  display: inline-block;
  margin-right: 8px;
}
.app-bd .add-category:hover {
  color: #a62c23;
}
.app-bd .pills::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .pills.sub .catpill {
  background: #de6961;
}
.app-bd .pills .catpill {
  background: #a62c23;
  display: inline-block;
  color: #fff;
  padding: 5px 33px 5px 17px;
  border-radius: 18px;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: "proxima-nova";
  font-weight: 400;
  text-align: center;
  margin: 0 15px 15px 0;
  position: relative;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}
.app-bd .pills .catpill.unsaved {
  background: #e4867f;
}
.app-bd .pills .catpill:hover {
  background: #531611;
}
.app-bd .pills .catpill.active {
  background: #000 !important;
}
.app-bd .pills .catpill i {
  position: absolute;
  right: 9px;
  top: 2px;
  color: #fff;
  font-size: 2rem;
  display: inline-block;
}
.app-bd .pills .catpill i:hover {
  color: #ccc;
}
.app-bd .pills .catpill input {
  background: transparent;
  outline: 0;
  border: none;
  color: #fff;
  font-family: "proxima-nova";
  font-weight: 400;
  font-size: 1.4rem;
}
.app-bd .sub-cat-selector {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f1f1f1;
  padding: 30px;
  margin: 50px 0;
}
.app-bd .sub-cat-selector::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .sub-cat-selector .label-holder {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.app-bd .sub-cat-selector .label-holder::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .sub-cat-selector .label-holder:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .app-bd .sub-cat-selector .label-holder {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .app-bd .sub-cat-selector .label-holder:first-child {
    margin-left: auto;
  }
  .app-bd .sub-cat-selector .label-holder:last-child {
    margin-right: auto;
  }
}
.app-bd .sub-cat-selector .select-holder {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.app-bd .sub-cat-selector .select-holder::after {
  content: '';
  display: table;
  clear: both;
}
.app-bd .sub-cat-selector .select-holder:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 800px) {
  .app-bd .sub-cat-selector .select-holder {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .app-bd .sub-cat-selector .select-holder:first-child {
    margin-left: auto;
  }
  .app-bd .sub-cat-selector .select-holder:last-child {
    margin-right: auto;
  }
}
.app-bd .sub-cat-selector h3 {
  margin: 0 0 5px;
  padding: 0;
}
.app-bd .sub-cat-selector p {
  font-size: 1.2rem;
  color: #444;
}
.app-bd .no-cat-selected {
  border: 1px dashed #d9d9d9;
  text-align: center;
  padding: 50px;
}
.app-bd .no-cat-selected p {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}
.app-bd .table-search {
  float: right;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #e8e8e8;
  height: 38px;
  width: 300px;
  top: -30px;
  margin-top: -30px;
}
@media only screen and (max-width: 600px) {
  .app-bd .table-search {
    margin: 0 0 20px;
    top: 0;
    width: 100%;
  }
}
.app-bd .table-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: none;
  padding: 1px 13px;
  font-size: 1.5rem;
  background: transparent;
}
.app-bd .table-search i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  color: #000;
}
