p
  | Hey
  = ' '+ name
  |,

p You've been invited to join #{orgname}!

p Click on the link below to set your password.
p
  a(href=resetUrl)= resetUrl
p Thanks!
p
p The Project Map It team
p
  a(href=baseUrl)= baseUrl
