| Hey
= ' ' + name
| ,
| Forgot your password? It happens to the best of us. To reset your password, just click on the following link within the next 24 hours.
= resetUrl
| ' '
| If you didn't request this password reset, just ignore this email.
| Thanks!
| ' '
| The ProjectMa| It team
= url
