p
  | Hey
  = ' '+ name
  |,

p Forgot your password? It happens to the best of us. To reset your password, just click on the following link within the next 24 hours.
p
 a(href=resetUrl)= resetUrl
p If you didn't request this password reset, just ignore this email.
p Thanks!
p
p The Project Map It team
p
  a(href=baseUrl)= baseUrl
